//! **************************************************************************
// Written by: Map O.61xd on Tue Nov 29 00:12:57 2011
//! **************************************************************************

SCHEMATIC START;
COMP "RamCE" LOCATE = SITE "L15" LEVEL 1;
COMP "Data<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "MemWait" LOCATE = SITE "V4" LEVEL 1;
COMP "Data<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "Data<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "Data<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Data<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Data<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Data<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "RamLB" LOCATE = SITE "K16" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "RamOE" LOCATE = SITE "L18" LEVEL 1;
COMP "RamUB" LOCATE = SITE "K15" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "MemAdr<1>" LOCATE = SITE "K18" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "H13" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "K17" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "F18" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "F17" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "D17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "K13" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "G14" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "G18" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "K12" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "F14" LEVEL 1;
COMP "MemAdv" LOCATE = SITE "H18" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "G16" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "E18" LEVEL 1;
COMP "MemAdr<23>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "H16" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "E16" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "H15" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "G13" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "H14" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "H12" LEVEL 1;
COMP "Data<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "D18" LEVEL 1;
COMP "Data<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "Data<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "MemClk" LOCATE = SITE "R10" LEVEL 1;
COMP "Data<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "Data<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "Data<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "RamCRE" LOCATE = SITE "M18" LEVEL 1;
COMP "Data<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "Data<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "Data<8>" LOCATE = SITE "N5" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "WriteRequest" BEL "MemoryController/STATE_FSM_FFd1"
        BEL "MemoryController/STATE_FSM_FFd2" BEL
        "MemoryController/STATE_FSM_FFd3" BEL
        "MemoryController/STATE_FSM_FFd4" BEL
        "MemoryController/STATE[3]_clk_DFF_100" BEL
        "MemoryController/STATE[3]_clk_DFF_84" BEL "MemoryController/RamUB"
        BEL "MemoryController/MemWR" BEL "MemoryController/RamCE" BEL
        "MemoryController/idle_4" BEL "MemoryController/idle_3" BEL
        "MemoryController/idle_2" BEL "MemoryController/idle_1" BEL
        "MemoryController/idle_0" BEL "MemoryController/MemData_15" BEL
        "MemoryController/MemData_14" BEL "MemoryController/MemData_13" BEL
        "MemoryController/MemData_12" BEL "MemoryController/MemData_11" BEL
        "MemoryController/MemData_10" BEL "MemoryController/MemData_9" BEL
        "MemoryController/MemData_8" BEL "MemoryController/MemData_7" BEL
        "MemoryController/MemData_6" BEL "MemoryController/MemData_5" BEL
        "MemoryController/MemData_4" BEL "MemoryController/MemData_3" BEL
        "MemoryController/MemData_2" BEL "MemoryController/MemData_1" BEL
        "MemoryController/MemData_0" BEL "MemoryController/STATE_FSM_FFd2_1"
        BEL "MemoryController/STATE_FSM_FFd3_1" BEL
        "MemoryController/STATE_FSM_FFd1_1" BEL "MemoryController/MemWait" BEL
        "clk_BUFGP/BUFG" BEL "WriteRequest_1" BEL "WriteRequest_2" BEL
        "WriteRequest_3" BEL "WriteRequest_4";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

