//! **************************************************************************
// Written by: Map O.61xd on Wed Sep 21 15:15:00 2011
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "D9" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "U2/clk_out" BEL "U2/COUNT1_0" BEL "U2/COUNT1_1" BEL
        "U2/COUNT1_2" BEL "U2/COUNT1_3" BEL "U2/COUNT1_4" BEL "U2/COUNT1_5"
        BEL "U2/COUNT1_6" BEL "U2/COUNT1_7" BEL "U2/COUNT1_8" BEL
        "U2/COUNT1_9" BEL "U2/COUNT1_10" BEL "U2/COUNT1_11" BEL "U2/COUNT1_12"
        BEL "U2/COUNT1_13" BEL "U2/COUNT1_14" BEL "U2/COUNT1_15" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

