//! **************************************************************************
// Written by: Map O.61xd on Wed Sep 28 04:06:59 2011
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "btnl" LOCATE = SITE "C4" LEVEL 1;
COMP "btnr" LOCATE = SITE "D9" LEVEL 1;
COMP "btns" LOCATE = SITE "B8" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "RamCE" LOCATE = SITE "L15" LEVEL 1;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "RamLB" LOCATE = SITE "K16" LEVEL 1;
COMP "RamUB" LOCATE = SITE "K15" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "MemAdr<1>" LOCATE = SITE "K18" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "K17" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "G18" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "G16" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "H16" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "H15" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "H14" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "MemAdv" LOCATE = SITE "H18" LEVEL 1;
COMP "MemClk" LOCATE = SITE "R10" LEVEL 1;
COMP "RamCRE" LOCATE = SITE "M18" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "H13" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "F18" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "F17" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "D17" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "K13" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "G14" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "K12" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "F14" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "E18" LEVEL 1;
COMP "MemAdr<23>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "E16" LEVEL 1;
COMP "MemAdr<24>" LOCATE = SITE "C17" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "G13" LEVEL 1;
COMP "MemAdr<25>" LOCATE = SITE "F16" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "H12" LEVEL 1;
COMP "MemAdr<26>" LOCATE = SITE "F15" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "D18" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "CockDivider25Mhz/COUNT1_0" BEL
        "CockDivider25Mhz/COUNT1_1" BEL "CockDivider25Mhz/COUNT1_2" BEL
        "CockDivider25Mhz/COUNT1_3" BEL "CockDivider25Mhz/COUNT1_4" BEL
        "CockDivider25Mhz/COUNT1_5" BEL "CockDivider25Mhz/COUNT1_6" BEL
        "CockDivider25Mhz/COUNT1_7" BEL "CockDivider25Mhz/COUNT1_8" BEL
        "CockDivider25Mhz/COUNT1_9" BEL "CockDivider25Mhz/COUNT1_10" BEL
        "CockDivider25Mhz/COUNT1_11" BEL "CockDivider25Mhz/COUNT1_12" BEL
        "CockDivider25Mhz/COUNT1_13" BEL "CockDivider25Mhz/COUNT1_14" BEL
        "CockDivider25Mhz/COUNT1_15" BEL "CockDivider25Mhz/clk_out" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

