//! **************************************************************************
// Written by: Map O.61xd on Sat Sep 24 15:19:41 2011
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "btns" LOCATE = SITE "B8" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "CockDivider25Mhz/clk_out" BEL
        "CockDivider25Mhz/COUNT1_0" BEL "CockDivider25Mhz/COUNT1_1" BEL
        "CockDivider25Mhz/COUNT1_2" BEL "CockDivider25Mhz/COUNT1_3" BEL
        "CockDivider25Mhz/COUNT1_4" BEL "CockDivider25Mhz/COUNT1_5" BEL
        "CockDivider25Mhz/COUNT1_6" BEL "CockDivider25Mhz/COUNT1_7" BEL
        "CockDivider25Mhz/COUNT1_8" BEL "CockDivider25Mhz/COUNT1_9" BEL
        "CockDivider25Mhz/COUNT1_10" BEL "CockDivider25Mhz/COUNT1_11" BEL
        "CockDivider25Mhz/COUNT1_12" BEL "CockDivider25Mhz/COUNT1_13" BEL
        "CockDivider25Mhz/COUNT1_14" BEL "CockDivider25Mhz/COUNT1_15" BEL
        "CockDivider25Mhz/COUNT1_16" BEL "CockDivider25Mhz/COUNT1_17" BEL
        "CockDivider25Mhz/COUNT1_18" BEL "CockDivider25Mhz/COUNT1_19" BEL
        "CockDivider25Mhz/COUNT1_20" BEL "CockDivider25Mhz/COUNT1_21" BEL
        "CockDivider25Mhz/COUNT1_22" BEL "CockDivider25Mhz/COUNT1_23" BEL
        "CockDivider25Mhz/COUNT1_24" BEL "CockDivider25Mhz/COUNT1_25" BEL
        "CockDivider25Mhz/COUNT1_26" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

